body {
    background: linear-gradient(35deg, #e6ffff, #f3e6ff);
    color: #333333;
    font-family: Courier;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 15%;
}

ul {
    list-style-type: none;
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #f3e6ff;
}

p {
    padding-left: 15px;
}