html {
    background: linear-gradient(35deg, hsl(180, 70%, 85%), hsl(271, 70%, 85%));
    color: #454545;
    font-family: Courier;
    height: 100%;
}

img {
    width: 450px;
    height: 325px;
    border-radius: 5%;
    margin-top: 10px;
}

img:hover {
    cursor: pointer;
}

.secondImg {
    width: 350px;
    height: 350px;
    border-radius: 5%;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 15px;
}

li {
    padding: 0px 30px;
}

a {
    text-decoration: none;
    color: #454545;
}

a:hover {
    color: hsl(180, 70%, 60%);
}

p {
    padding-left: 15px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 32px;
    margin-right: auto;
}

footer p {
    padding-left: 0px;
    font-size: 18px;
    margin-top: 10px;
}

#altLink:hover {
    color: hsl(271, 70%, 75%);
}

@media only screen and (max-device-width: 480px) {
    body {
        height: 100vh;
    }
}